<!DOCTYPE html>
<html>
  <head>
    <title>AK TRAVELS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    
	<link href="assets/stylesheets/js-image-slider.css" rel="stylesheet" media="screen">


  </head>

  <body class="my" >
    
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="bootstrap.min.js"></script>


      
  
<div class="container">
  <h1>welcome</h1>

   <div id="slider">
            
                <img src="images/my/5.jpg" alt="Welcome " />
            </a>
            <a class="lazyImage" href="images/my/6.jpg" ></a>
            <a ><b data-src="images/my/7.jpg"></b></a>
            <a class="lazyImage" href="images/my/8.jpg" title=""></a>
        </div>
		
		
		
		
        <!--thumbnails-->
        <div id="thumbs">
            <div class="thumb">
                <div class="frame"><img src=C:\Users\boss\Desktop\final_style\final\ftravels /></div>
                <div class="thumb-content">Register your agency</div>
                <div style="clear:both;"></div>
            </div>
            <div class="thumb">
                <div class="frame"><img src="images/my/6.jpg" /></div>
                <div class="thumb-content"><p></p>Login</div>
                <div style="clear:both;"></div>
            </div>
            <div class="thumb">
                <div class="frame"><img src="images/my/7.jpg" /></div>
                <div class="thumb-content"><p>Add your vehicles</div>
                <div style="clear:both;"></div>
            </div>
            <div class="thumb">
                <div class="frame"><img src="images/my/8.jpg" /></div>
                <div class="thumb-content">Booking</div>
                <div style="clear:both;"></div>
            </div>
        </div>
        <!--clear above float:left elements. It is required if above #slider is styled as float:left. -->
        <div style="clear:both;height:0;"></div>

   
   
   
   
   
   
   
    
   
    
 
  
  



<img src="images/my/5.jpg" class="img-rounded">
<img src="images/my/7.jpg" class="img-circle">
<img src="images/my/6.jpg" class="img-thumbnail">













	
      <ul class="nav navbar-nav pager" >
         <li><a href="/about">About</a></a></li>
          <li><a href="http://aktravels.com">site</a></li>
          
	        <li><a href="http://www.aktravels.com">OCC</a></li>
	      
	  </ul>
     
    </div>
  </div>
</header>
      
	  

<script src="js/respond.js" ></script>
<script src="js/respond.js"></script>
  </body>
</html>
